[Unit]
Description=Run the mLink driver
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/makeblock/mLink/mlink start

[Install]
WantedBy=multi-user.target
