[Unit]
Description=Run Puppet Apply every 4 hours
Requires=puppet-apply.service

[Timer]
Unit=puppet-apply.service
OnUnitInactiveSec=4h
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
