[Unit]
Description=Run Puppet Apply every 45-60 minutes
Requires=puppet-apply.service

[Timer]
Unit=puppet-apply.service
OnUnitInactiveSec=45m
RandomizedDelaySec=15m
AccuracySec=1s

[Install]
WantedBy=timers.target
