[Unit]
Description=Executing Puppet Apply
Wants=network-online.target
After=network-online.target
Wants=puppet-apply.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/puppet-apply

[Install]
WantedBy=multi-user.target
